@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0,100%,74%);
    background-image: url(./images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.contatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    flex-wrap: wrap;
}

.contatiner > div {
    flex:  1;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

p {
    font-size: 15px;
    opacity: 0.8;
}

.box {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 6px rgba(0,0,0,0.2);
}

.box-blue {
    background-color: hsl(248,32%,49%);
    cursor: pointer;
    padding: 20px;
}

.box p {
    margin: 0;
}

input {
    width: 100%;
    padding: 15px 25px;
    display: block;
    border: 1px solid hsl(246,25%,77%);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 55px;
}

input:focus {
    border: 1px solid hsl(248,32%,49%);
    outline: none;
}

button {
    background-color: hsl(154,59%,51%);
    padding: 15px 25px;
    width: 100%;
    display: block;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 5px;
    border-bottom-width: 3px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:focus {
    outline: none;
}

.form-control {
    position: relative;
    margin-bottom: 30px;
}

.form-control small {
    color: hsl(0,100%,74%);
    text-align: right;
    position: absolute;
    right: 2px;
    bottom: -24px;
    font-weight: 400;
    font-style: italic;
    opacity: 0;
}

.form-control.error small {
    opacity: 1;
}

small {
    color: #bbb;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

small a {
    color: hsl(0,100%,74%);
    text-decoration: none;
    cursor: pointer;
}

.form-control.error input {
    color: hsl(0,100%,74%);
    border-color: hsl(0,100%,74%);
}
.form-control.error input::placeholder {
    color: hsl(0,100%,74%);
}

.form-control.success input {
    border-color: hsl(154, 59%, 51%) 
}   

.form-control img {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
}

.form-control.error img {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.attribution a {
    text-decoration: none;
    color: #444;
}


@media screen and (max-width: 768px) {
    h1, p {
        text-align: center;
    }
    .contatiner {
        flex-direction: column;
    }
}
